/* ------------- 3Scape Background -----------------*/ 

html { 
  background: url(../3ScapeBackground.png) no-repeat center center fixed; 
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight:300;
  color:#666;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body{
    position: relative;
}



/* --------------- Modal -------------------- */

.modal{
    position:absolute;
    top:40%;
    left:30%;
    width:400px;
    padding:15px;
    margin:15px;
    background:#fff;
    border: 2px solid #3498db;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.modal-head{
    margin:10px auto;
    font-size:20px;
    color:#3498db;
    text-align:center;
    text-transform: capitalize;
}





/*--------------------- Modal Buttons ------------------*/

button{
    background:#fff;
    padding:5px;
    color:#3498db;
    box-shadow: none;
    border: 1px solid #3498db;
    margin:10px;
    text-align: center;
    font-size: 12px;
    transition:all 200ms ease;
}

button:hover{
    background:#3498db;
    color:#fff;
}

button:focus{
    outline:none;
}

button.continue{
    font-weight: 500;
}

button.quit{
    color:#e74c3c;
    border:1px solid #e74c3c;
}

button.quit:hover{
    background:#e74c3c;
    color:#fff;
}

.buttons{
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    margin:15px auto 5px auto ;
}

.quit, .continue{
    text-transform: uppercase;
}




/*------------ Variables Inside Modal Text ------------------------*/


.customverb{
    color:#16a085;
    font-weight: 400;
}

.customshape{
    color:#d35400;
    font-weight: 400;
}

.customverb:before, .customshape:before{
    content:"[";
}

.customverb:after, .customshape:after{
    content:"]";   
}



/*------------- Navigation Arrows for Tour Card Slideshow ----------------*/

.nav{
    position:fixed;
    bottom:20px;
    right:20px;
}

.nav button{
    width:45px;
    height:45px;
    font-size: 40px;
}

button span.fa{
    position:relative;
    top:-10px;
}




/*--------------- Checkboxs in First Modal --------------------------------*/

div.checkbox{
    width:50%;
    margin:20px 0;
    display:inline;
    float:left;
}

span.block{  /*  moves the labels under the checkbox images */ 
    display:block;
    margin-left:20px;
}

input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 1.5px;
}

label img{
    height:50px;
    width:auto;
}

.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.checkboxes{
    width:90%;
    margin:10px auto;
}




/*-------------------- High Five ----------------*/

.modal.highfive{
    display:none;
}

iframe{
    border:none;
    margin:0px auto;
    outline: 5px solid #fff;
    outline-offset: -4px;
}

