body{
    box-sizing: border-box;
}

.ipad-mini{
}

ul.pans{
    padding:20px;
    width:100%;
    background: #2c6ba4;
}

.list-inline > li.pan{
    padding:0;
}
li.pan{
    width:10.5%;
    padding:0;
}


.dial{
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.innerdial {
  position: relative;
  width: 100%;
  max-width:100px;
  background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
} 

.colorwheel{
    position: relative;
    width:100%;
    max-width:120px;
}



.innerdial_knob {
    position:relative;
  background: rgba(255,255,255,0.4);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
    border:1px solid #fff;
    
}

span.fa{
    position:absolute;
    width:100%;
    text-align: center;
    color:#2c6ba4;
}

.innerdial:active{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
}

.colorwheel svg{
    vertical-align: -40%;
}



.meter-outer {
  width: 100%;
    max-width: 100px;
/*  padding-top:100%;*/
  position:absolute;
    bottom:0;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
    background: #fff;
}

#meter-inner {
  position: absolute;
    bottom:0;
  width: 100%;
    max-width: 100px;
/*  padding-top:100%;*/
   background-color: #ccc;
background-image: linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray), 
linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray);
background-size:10px 10px;
background-position:0 0, 5px 5px;
  opacity:0;
    
}


/** Retina iPad **/
@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (-moz-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-resolution: 192dpi) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-resolution: 2dppx) and (max-device-width: 1024px) and (orientation: landscape){
    .innerdial, #meter-inner, .meter-outer, .colorwheel {
        max-width:90px;
        max-height:90px;
    }
}


