body{
    box-sizing: border-box;
}

.ipad-mini{
    margin:50px auto;
    height:134.7mm;
    width:200mm;
    box-shadow: 0 0 5px rgba(0,0,00,0.4);
}

p {
  font-family: Helvetica, Arial, Sans-serif;
  text-align: center;
  color: #0f69cd;
}

.dial{
    position:relative;
    display:inline-block;
    float:left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.innerdial {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  background: #0f69cd;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}  

/*
#jog_dial_one {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  background: #0f69cd;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}  
*/

.innerdial_knob {
  background: #fff;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
    
}

/*
#jog_dial_one_knob {
  background: #95c7ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
*/

